<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Getting Started: Serving Web Content</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<!-- Note the change from ${name} to ${greeting.name}
		 (greeting is the model name, can be changed with the ModelAttribute annotation) -->
    <p th:text="|Hello, ${greeting.name}!|" />
	<p>You can change who I am greeting by adding the query parameter 'name'!</p>
	<p th:text="|This view has a second model with a different name: ${m2.name}|" />
</body>
</html>